.nav{
    
    border: 1px solid;
    border-width: 1px 0;
    list-style: none;
    color: white;
    font-family: sans-serif;
    padding: 0;
    text-align: center;
}

li{
    display: inline;
    padding: 1000;
}

.body {
    background-color: black;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    top: 72px;
    left: 70px;
    font-family: Verdana; 
    font-family: sans-serif
    color:#c3b495;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 70px;
    color: white;
    font-family: Verdana; 
    font-family: sans-serif;
    
}

/* Top right text */
.top-right {
    position: absolute;
    top: 40px;
    left: 70px;
    font-family: Verdana; 
    font-family: sans-serif
}


/* Centered text */
.centered {
    position: absolute;
/*    top: 3%;*/
    top: 250px;
    left: 52%;
    transform: translate(-50%, -50%);
    font-family: Verdana; 
    font-size: 30px;
}

.extraright{
    position: absolute;
    top: 8px;
    right: 70px;
    color: white;
    font-family: Verdana; 
    font-family: sans-serif;
}

.extra {
    position: absolute;
    top: 104px;
    left: 70px;
    color: white;
    font-family: Verdana; 
    font-family: sans-serif;
    
}

.home {
    position: absolute;
    top: 8px;
    right: 150px;
    color: white;
    font-family: Verdana; 
    font-family: sans-serif;
    
}

.videoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  /* optional */
  width: 100%;
  height: 100%; 
}

/*Making underline + blue / purple font on hyperlinks go away*/

a { color:white}
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:#2e7181}


